* {
    margin: 0;
    padding: 0;
}

:root {
    --title-color: #000;
    --content-color: #3C4043;
    --content-color-2: #17181B;
    --blue: #0088D4;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* navbar css */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    width: -webkit-fill-available;
    border-bottom: 1px solid #DCDDDD;
    background-color: #fff;
    padding: 0 50px;

    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logotype {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.85px;

    margin-right: 60px;
}

.logotype .bosch {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: var(--title-color);
}

.logotype .esy {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;

    background: linear-gradient(180deg, #00a4fd 15.52%, #003253 86.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.links {
    display: flex;
    gap: 40px;
}

.links a {
    color: #A2A3A4;
    font-size: 12px;
    font-weight: 500;
    transition: .25s;
}

.links a:hover {
    color: var(--content-color-2);
    font-weight: 600;
}

/* SearchBar.css */
.search-bar {
    width: 300px;
    height: 32px;
    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-self: flex-end;
}

input[type="text"] {
    width: 100%;
    padding: 7px;
    font-size: 12px;
    border: 1px solid #BDC1C6;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    text-indent: 37px;
    margin-left: -30px;
    background-color: transparent;

    transition: .25s;
}

input[type="text"]::placeholder {
    color: #9AA0A6;
}

input[type="text"]:focus {
    border: 1px solid #0066a5;
}

/* system mode */

.system-mode {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 50px;
}

@media (prefers-color-scheme: dark) {

    /* navbar css */
    .navbar {
        border-bottom: 1px solid #343A46;
        background-color: #1D222C;
    }

    .logotype .bosch {
        color: #fff;
    }

    .links a {
        color: #A2A3A4;
    }

    .links a:hover {
        color: #ffffff;
    }

    body::-webkit-scrollbar {
        width: 10px;
    }

    body::-webkit-scrollbar-track {
        background: transparent;
    }

    body::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.12);
        border-radius: 10px;
        border: 2px solid #1D222C;
    }
}

main {
    margin-top: 60px;
    padding: 0 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main .logotype {
    gap: 4px;
    margin-right: 0px;

    margin-top: 140px;
}

main .logotype .bosch {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 135px;
    color: var(--title-color);
}

main .logotype .esy {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 135px;

    background: linear-gradient(180deg, #00a4fd 15.52%, #003253 86.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main h1.slogan {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    color: var(--content-color-2);
    margin-top: -10px;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--content-color);

    max-width: 1200px;
}

.btns {
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    gap: 15px;
}

.primary-btn,
.secondary-btn {
    height: 50px;
    width: 215px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
}

.primary-btn {
    border: none;
    color: #fff;
    background: linear-gradient(90.71deg, #00A5FF 0%, #005893 100%);
}

.secondary-btn {
    color: #0096E8;
    background-color: transparent;
    border: 2px solid #0096E8;
}

main section img {
    width: 50%;
    height: auto;
    border: 1px solid #DADCE0;
    border-radius: 15px;
}

.container-section-1 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 150px;
}

.container-section-1 .container-section-child {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    gap: 6.5%;
}

.container-section-1 .container-section-child text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: var(--title-color);
}

.container-section-1 .container-section-child text {
    max-width: 530px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}

.container-section-1> :last-child,
.container-section-1> :nth-last-child(3) {
    justify-content: flex-end;
}

.container-section-1> :last-child text,
.container-section-1> :nth-last-child(3) text {
    align-items: flex-end;
    text-align: right;
}

.container-section-2 {
    margin: 150px 0;
}

.container-section-2 h3 {
    text-align: left;
    line-height: 66px;
    margin-bottom: 26px;
}

.container-section-2 .cards {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
}

.container-section-2 .container-section-child {
    height: 330px;
    background-color: white;

    border-radius: 18px;
    text-align: left;
    padding: 0 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-section-2 .container-section-child h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 18px;
    color: var(--title-color);
    font-style: normal;
    font-weight: 500;
}

.container-section-2 .container-section-child p {
    color: var(--title-color);
    max-width: 90%;
}

.container-section-2 .cards> :nth-last-child(2) {
    margin-top: 65px;
}

.container-section-2 .cards> :nth-last-child(1) {
    margin-top: 130px;
}

.text-gradient {
    background: linear-gradient(90deg, var(--blue) 0%, #003253 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container-section-2 .cards .gradient-container-1 {
    background: rgb(0, 50, 83);
    background: linear-gradient(90deg, rgba(0, 50, 83, 0) 0%, rgba(0, 136, 212, 1) 100%);
    border-radius: 20px;
    width: 31%;
    height: 330px;
    padding: 2px;
}

.container-section-2 .cards .gradient-container-2 {
    background: rgb(0, 50, 83);
    background: linear-gradient(0deg, rgba(0, 50, 83, 1) 0%, rgba(0, 136, 212, 1) 100%);
    border-radius: 20px;
    width: 31%;
    height: 330px;
    padding: 2px;
}

.container-section-2 .cards .gradient-container-3 {
    background: rgb(0, 50, 83);
    background: linear-gradient(-90deg, rgba(0, 50, 83, 0) 0%, rgba(0, 136, 212, 1) 100%);
    border-radius: 20px;
    width: 31%;
    height: 330px;
    padding: 2px;
}

.container-section-3 h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
    color: #0e1013;
    margin-bottom: 30px;
}

.container-section-3 p {
    margin: 0 auto;
    margin-bottom: 80px;
}


.slider {
    height: 350px;
    margin: auto;
    position: relative;
    width: calc(100vw - 10px);
    display: grid;
    flex-direction: row;
    place-items: center;
    overflow: hidden;

    margin-bottom: 100px;
}

.slide-track {
    display: flex;
    width: 100%;
    animation: scroll 45s linear infinite;
}

.slide-track:hover {
    animation-play-state: running;
}

.slide {
    height: 280px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slide img {
    height: 350px;
    width: 100%;
    transition: .3s;
    border: none;
}

.slide img:hover {
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100%));
    }
}

.container-section-4 .faq-container {
    width: 720px;
}

.container-section-4 .faq-container .menu-item {
    align-self: flex-start;

    cursor: pointer;
    padding: 30px 0;
    border-bottom: 1px solid #70707067;
    position: relative;
}

.container-section-4 .faq-container .menu-item p {
    margin: 0;
    color: var(--title-color);
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
    text-transform: none;
}

.container-section-4 .faq-container .menu-item .sub-menu {
    display: none;
    padding-left: 20px;
}

.container-section-4 .faq-container .menu-item.active p,
.container-section-4 .faq-container .menu-item p:hover {
    color: var(--blue);
    font-size: 20px;
    font-weight: 500;
}

.container-section-4 .faq-container .menu-item .arrow {
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-40%);
    width: 0;
    height: 0;
    transition: transform 0.3s;
    transform-origin: inherit;
}

.container-section-4 .faq-container .menu-item.active .arrow {
    transform: translateY(-40%) rotate(90deg);
    color: var(--blue);
}

.container-section-4 .faq-container h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 64px;
    text-align: left;
    color: var(--title-color);
}

.container-section-4 .faq-container .sub-menu p {
    margin: 10px 0;
    color: #4F4F4F;
    text-align: left;
    text-indent: 0;
}

.container-section-4 .image-faq-container {
    width: 50%;
    height: 420px;
    background-image: url('src/assets/images/image-faq-light.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-section-4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 200px;
    align-items: flex-end;
    gap: 70px;
}

footer,
.logo-footer,
.center,
.contact {
    display: flex;
    flex-direction: row;
}

footer p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--title-color);
}

footer {
    background-color: #F1F3F4;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}

footer .center {
    gap: 40px;
}

footer .logo-footer {
    display: flex;
    gap: 2.3px;
}

footer .logo-footer p {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
    -webkit-text-stroke: 1.3px black;
}

footer .logo-footer> :first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 48px;

    -webkit-text-stroke: 1.2px black;
    color: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        --title-color: #fff;
        --content-color: #f1f3f4;
        --content-color-2: #f8f9fa;
        --blue: #00A4FD;
    }

    footer {
        background-color: #191E26;
    }

    .container-section-4 .faq-container .sub-menu p {
        color: #dadce0;
    }

    .secondary-btn {
        border: 2px solid var(--blue);
        color: var(--blue);
    }

    .container-section-2 .container-section-child {
        background-color: #1D222C;
    }

    .text-gradient {
        background: linear-gradient(90deg, var(--blue) 0%, #93d4ff 72%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .container-section-4 .image-faq-container {
        background-image: url('src/assets/images/image-faq-dark.png');
    }

    .container-section-3 h1 {
        color: var(--title-color);
    }
}